{% extends '@forum/layout.html.twig' %}

{% block content %}

    {% include '@pms/menu.html.twig' %}

    {% if errors is not empty %}
    <div id="msg" class="block error">
        <h3>{{ transd(['pms', 'Block errors']) }}</h3>
        <div>
            <p>{{ transd(['pms', 'Block error info']) }}</p>
            <ul class="error-list">
                {% for error in errors %}
                <li><strong>{{ error }}</strong></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <br />
    {% endif %}
    <div class="blockform">
        <h2><span>{{ transd(['pms', 'Add block']) }}</span></h2>
        <div class="box">
            <form method="post" action="">
                <div class="inform">
                    <fieldset>
                        <legend>{{ transd(['pms', 'Add block']) }}</legend>
                        <div class="infldset">
                            <table class="aligntop">
                                <tr>
                                    <th scope="row">{{ transd(['pms', 'Add block legend']) }}
                                        <div><input type="submit" name="add_block" value="{{ trans('Submit') }}" tabindex="2" /></div>
                                    </th>
                                    <td>
                                        <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
                                        <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
                                        <input type="text" name="req_username" value="{{ username }}" size="35" maxlength="80" tabindex="1" required autofocus />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
        {% if blocks in not empty %}
        <h2 class="block2"><span>{{ transd(['pms', 'Blocked Users']) }}</span></h2>
        <div class="box">
            <form method="post" action="">
                <input type="hidden" name="csrf_name" value="{{ csrf_name }}">
                <input type="hidden" name="csrf_value" value="{{ csrf_value }}">
                <div class="inform">
                    <fieldset>
                        <div class="infldset">
                            <table cellspacing="0">
                                <thead>
                                <tr>
                                    <th class="tcl" scope="col">{{ trans('Username') }}</th>
                                    <th class="hidehead" scope="col">{{ transd(['pms', 'Actions']) }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for bid, block in blocks %}
                                <tr>
                                    <td class="tcl"><strong>{{ block.username }}</strong></td>
                                    <td><input type="submit" name="remove_block[{{ block.block_id }}]" value="Remove" /></td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
    <div class="clearer"></div>

{% endblock content %}
