{% extends '@forum/layout.html.twig' %}

{% block content %}
    {% include '@pms/menu.html.twig' %}

    {#FIXME delete preview#}
    {% if parsed_message %}
        <div id="postpreview" class="blockpost">
            <h2><span>Preview</span></h2>
            <div class="box">
                <div class="inbox">
                    <div class="postbody">
                        <div class="postright">
                            <div class="postmsg">
                                {{ parsed_message|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

        <div id="postform" class="blockform">
            <h2><span>{{ transd(['pms', 'Send']) }}</span></h2>
            <div class="box">
                <form id="post" method="post" action="" onsubmit="return process_form(this)">
                    <div class="inform">
                        <fieldset>
                            <legend>{{ trans('Write message legend') }}</legend>
                            <div class="infldset txtarea">
                                <input type="hidden" name="csrf_name" value="{{  csrf_name }}">
                                <input type="hidden" name="csrf_value" value="{{  csrf_value }}">
                                <label class="required"><strong>Send to <span>{{ trans('Required') }}</span></strong>
                                    <br /></label>
                                <input type="text" name="username" placeholder="Username" {{ username is not empty ? ('value="' ~ username ~'"')|raw : ''}} size="25" tabindex="1" required autofocus/><br />
                                <div class="clearer"></div>
                                <label class="required"><strong>Subject <span>{{ trans('Required') }}</span></strong><br /></label>
                                <input class="longinput" type="text" name="subject" placeholder="Subject" {{ subject is not empty ? 'value="' ~ subject ~'"' : ''}} size="80" maxlength="70" tabindex="2" required/><br />
                                <label class="required"><strong>{{ trans('Message') }} <span>{{ trans('Required') }}</span></strong><br /></label>
                                <textarea name="req_message" id="req_message" rows="20" cols="95" tabindex="2" required>{{ message is not empty ? message : '' }}</textarea><br />
                                <ul class="bblinks">
                                    <li><span><a href="{{ pathFor('help') }}#bbcode" onclick="window.open(this.href); return false;">{{ trans('BBCode') }}</a> {{ settings('p_message_bbcode') == '1' ? trans('on') : trans('off') }}</span></li>
                                    <li><span><a href="{{ pathFor('help') }}#url" onclick="window.open (this.href); return false;">{{ trans('url tag') }}</a> {{ settings('p_message_bbcode') == '1' and userGet('g_post_links') == '1' ? trans('on') : trans('off') }}</span></li>
                                    <li><span><a href="{{ pathFor('help') }}#img" onclick="window.open(this.href); return false;">{{ trans('img tag') }}</a> {{ settings('p_message_bbcode') == '1' and settings('p_message_img_tag') == '1' ? trans('on') : trans('off') }}</span></li>
                                    <li><span><a href="{{ pathFor('help') }}#smilies" onclick="window.open(this.href); return false;">{{ trans('Smilies') }}</a> {{ settings('o_smilies') == '1' ? trans('on') : trans('off') }}</span></li>
                                </ul>
                            </div>
                        </fieldset>
                    </div>
                    <div class="inform">
                        <fieldset>
                            <legend>{{  trans('Options') }}</legend>
                            <div class="infldset">
                                <div class="rbox">
                                    <label><input type="checkbox" name="smilies" value="1" tabindex="3" />{{  trans('Hide smilies') }}<br /></label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <p class="buttons">
                        <input class="btn btn-primary" type="submit" name="submit" value="{{  trans('Submit') }}" tabindex="4" accesskey="s" />
<!--                        <input type="submit" name="preview" value="--><?//= __('Preview') ?><!--" tabindex="5" accesskey="p" /> -->
                        <a class="btn btn-primary" href="javascript:history.go(-1)">{{  trans('Go back') }}</a>
                    </p>
                </form>
            </div>
        </div>

{% endblock content %}
